@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

.container {
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.814);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  font-family: "Poppins", sans-serif;
  position: sticky;
  .rosace {
    animation: rotateRosace 12s infinite alternate-reverse;
  }
  .Header {
    cursor: pointer;
  }
  .title {
    color: rgb(157, 143, 125);
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: -10px;
  }
  .title-first {
    text-align: center;
    color: rgb(70, 165, 70);
  }
}
.Menu {
  ul {
    display: flex;

    .active {
      color: green;
    }
    a {
      text-decoration: none;
    }
    li {
      margin: 0 25px;
      text-transform: uppercase;
      color: white;
      font-size: 15px;
      font-weight: 900;
      &:hover {
        color: green;
        cursor: pointer;
        transition: 1s ease-out;
      }
    }
  }
  .items {
    position: absolute;

    top: 0;
    right: 0;

    .list-items {
      display: flex;
      div {
        &:hover {
          transform: scale(0.8);
          transition: 0.5s ease-in-out;
          cursor: pointer;
        }
      }

      &:last-child {
        margin-right: 50px;
      }

      .facebook {
        color: white;
        background-color: rgb(70, 165, 70);
        padding: 10px;
        margin-right: 12px;
        position: relative;
        &:hover {
          &::before {
            content: "facebook";
            position: absolute;
            left: 0;
            bottom: -15px;
          }
        }
      }
      .LinkeIn {
        color: white;
        background-color: rgb(70, 165, 70);
        padding: 10px;
        margin-right: 12px;
        &:hover {
          &::before {
            content: "LinkeIn";
            position: absolute;
            bottom: -15px;
            left: 0;
          }
        }
      }
      .twitter {
        color: white;
        background-color: rgb(70, 165, 70);
        padding: 10px;
        margin-right: 12px;
        &:hover {
          &::before {
            content: "Twitter";
            position: absolute;
            bottom: -15px;
            left: 0;
          }
        }
      }
      .instagram {
        color: white;
        background-color: rgb(70, 165, 70);
        padding: 10px;
        margin-right: 12px;

        &:hover {
          &::before {
            content: "instagram";
            position: absolute;
            bottom: -15px;
            left: 0;
          }
        }
      }
    }
  }
}
@keyframes rotateRosace {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*small phone 320px*/
@media screen and (max-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 250px;
    .rosace {
      display: none;
    }
    .title {
      text-align: center;
    }
    .Menu {
      
      .burger {
        padding: 10px;
        span {
          height: 5px;
          background-color: white;
          width: 30px;
          position: absolute;
          left: 10px;
          &:nth-child(1) {
            transform: translateY(-2px);
          }
          &:nth-child(2) {
            transform: translateY(6px);
          }
          &:nth-child(3) {
            transform: translateY(14px);
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
      .list-items:last-child {
        margin-right: -5px;
      }
    }
    .Menu-list {
     
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(-1000%);
        background-color: #020000;
        width: 200px;
        padding:0 12px;
        
        .burger-close{
          
          &:hover{
            cursor:pointer;
            
          }
          span{
            height: 5px;
            background-color: white;
            width: 30px;
            position: absolute;
            right: 20px;
            top:15px;
            &:nth-child(1){
              transform: rotate(140deg)translate3d(0px,0,0)
            }
            &:nth-child(2){
              transform:rotate(-139deg)translate3d(0px,0,0)
            }
          }
        }
       

        li {
          margin: 0 5px;
          font-size: 12px;
          padding:2px 0;
        }
      }
    }
  }

  .title-first {
    text-align: center;
    margin-top: 65px;
    font-size: 35px;
  }
}
